:root {
  --primary: hsl(257, 40%, 49%);
  --accent: hsl(300, 69%, 71%);

  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
